
<div class="main-container">

  <div class="title-container">
    <h2 class="title">{{ title }}</h2>
  </div>

  <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
    <input class="text-input" type="text" name="fullName" placeholder="Your full name" ngModel>

    <input class="text-input" type="email" name="email" placeholder="Your email" ngModel>

    <textarea class="text-input" name="message" placeholder="Your message" ngModel></textarea>

    <div class="btn-container">
      <input class="btn" type="submit" value="Send">
    </div>
  </form>

</div>